<!------ header from partials ------>

<%- include("../adminPartials/header") %>

<style>
  .table-dark-bordered {
  border: 1px solid #000; /* Dark border color for the table */
}

.table-dark-bordered th,
.table-dark-bordered td {
  border: 1px solid #000; /* Dark border color for table headers and cells */
}

.table-cell-pending {
    display: inline-block;
    padding: 10px 10px;
    /* background-color: #007bff; */
    background-color: #295f4e;
    color: white;
    text-align: center;
    /* border-radius: 5px; */
    border: 1px solid;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 10px; /* Ensures there is space between the content and the border */
}
.table-cell-paymentFailed {
    display: inline-block;
    padding: 10px 10px;
    /* background-color: #007bff; */
    background-color: #295f4e;
    color: white;
    text-align: center;
    /* border-radius: 5px; */
    border: 1px solid;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 10px; /* Ensures there is space between the content and the border */
}
.table-cell-delivered {
    display: inline-block;
    padding: 10px 10px;
    /* background-color: #34f15a; */
    background-color: #295f4e;
    color: white;
    text-align: center;
    /* border-radius: 5px; */
    border: 1px solid;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 10px; /* Ensures there is space between the content and the border */
}
.table-cell-cancelled {
    display: inline-block;
    padding: 10px 10px;
    /* background-color: rgb(227, 58, 58); */
    background-color: #295f4e;
    color: white;
    text-align: center;
    /* border-radius: 5px; */
    border: 1px solid;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 10px; /* Ensures there is space between the content and the border */
}
.table-cell-shipped {
    display: inline-block;
    padding: 10px 10px;
    /* background-color: rgb(227, 148, 58); */
    background-color: #295f4e;
    color: white;
    text-align: center;
    /* border-radius: 5px; */
    border: 1px solid;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 10px; /* Ensures there is space between the content and the border */
}
.table-cell-returnRequest {
    display: inline-block;
    padding: 10px 10px;
    /* background-color: rgb(84, 113, 145); */
    background-color: #295f4e;
    color: white;
    text-align: center;
    /* border-radius: 5px; */
    border: 1px solid;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 10px; /* Ensures there is space between the content and the border */
}
.table-cell-requestApproved {
    display: inline-block;
    padding: 10px 10px;
    /* background-color: rgb(51, 206, 152); */
    background-color: #295f4e;
    color: white;
    text-align: center;
    /* border-radius: 5px; */
    border: 1px solid;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 10px; /* Ensures there is space between the content and the border */
}

.table-cell-requestRejected {
    display: inline-block;
    padding: 10px 10px;
    /* background-color: rgb(146, 37, 37); */
    background-color: #295f4e;
    color: white;
    text-align: center;
    /* border-radius: 5px; */
    border: 1px solid;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 10px; /* Ensures there is space between the content and the border */
}

.full-width-button {
            color: white;
            background-color: #295f4e;
            border: 1px solid #295f4e;
            /* border-radius: 2px; */
            width: 20%; /* Makes the button take full width */
            padding: 6px; /* Optional: Adds padding inside the button */
            box-sizing: border-box; /* Ensures padding and border are included in the width */
        }

</style>


<body style="color: whitesmoke;">
    


    <!---- breadcrumbs ---->
    <div class="container-fluid">
        <div class="row justify-content-end" style="background-color: #e2e2e2;height: 30px;">
         
          <div class="col-7 col-md-7 col-lg-9">
            <h5>Ratings</h5>
          </div>
         
          <div class="col-5 col-md-4 col-lg-2">
            <nav aria-label="breadcrumb" style="margin-left: -40%;">
              <ol class="breadcrumb">
      
                <li class="breadcrumb-item "  aria-current="page">
                  <a href="/dashboard" style="text-decoration: none;color: black;">Dashboard</a>
                </li>
      
                <li class="breadcrumb-item active"  aria-current="page">
                  Ratings
                </li>
      
              </ol>
            </nav>
          </div>
        </div>
        
      </div>
  
  
  

      <!------ main content ----->
      <div class="container mt-4">
        
          <div class="row">
              <div class="col">

                <a href="/admin/returnManagement"><button class="full-width-button">
                  Return Management</button></a>
  
                <div class="row mb-2">
                  <div class="col-6">

                  </div>   
                </div>

              

                <div class="row mt-3">
                  <div class="col">
                    <div class="table-responsive">

                      
                      <table class="table table-hover text-center align-middle">
                        <thead class="table-dark">
                          <tr>
                            <th>OrderId</th>
                            <th>Name</th>
                            <th>Payment Method</th>
                            <th>Quantity</th>
                            <th>Status</th>
                            <th>Total</th>
                            <th>Discount</th>
                            <th>Grand Total</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0; i<orders.length; i++) { %>
                            <tr>
                                <td> <%= orders[i]?.orderId %> </td>
                                <td> <%= orders[i]?.userId?.username %> </td>
                                <td> <%= orders[i]?.paymentType %> </td>
                                <td>
                                  <%= orders[i]?.cartData?.reduce((acc, item)=> acc +
                                      item.productQuantity, 0) %>
                              </td>

                              <% if(orders[i]?.paymentType === "Payment Failed") { %>
                                <td><span class="table-cell-paymentFailed"><%= orders[i].paymentType %></span></td>

                                <% }else{ %>

                                <% if(orders[i]?.orderStatus === 'Pending') { %>
                                  <td><span class="table-cell-pending"><%= orders[i].orderStatus %></span></td>
                              <% } else if(orders[i].orderStatus === 'Delivered') { %>
                                  <td><span class="table-cell-delivered"><%= orders[i].orderStatus %></span></td>
                              <% } else if(orders[i].orderStatus === 'Cancelled') { %>
                                  <td><span class="table-cell-cancelled"><%= orders[i].orderStatus %></span></td>
                              <% } else if(orders[i].orderStatus === 'Shipped') { %>
                                  <td><span class="table-cell-shipped"><%= orders[i].orderStatus %></span></td>
                              <% }else if(orders[i].orderStatus === 'requested to return') { %>
                                <td><span class="table-cell-returnRequest"><%= orders[i].orderStatus %></span></td>
                                <% }else if(orders[i].orderStatus === 'Approved Return') { %>
                                  <td><span class="table-cell-requestApproved"><%= orders[i].orderStatus %></span></td>
                                  <% }else if(orders[i].orderStatus === 'Reject Return') { %>
                                    <td><span class="table-cell-requestRejected"><%= orders[i].orderStatus %></span></td>
                                    <% } %>

                                    <% } %>

                                    <td> ₹<%= orders[i]?.grandTotalCost %> </td>

                                    <td> <% if(orders[i]?.couponApplied){ %>
                                      <%= orders[i]?.couponApplied?.discountPercentage %>%
                                      <% }else{ %>
                                          Nil
                                          <% } %>
                                   </td>
                                
                                   <td>
                                    <% if(orders[i]?.discountedPrice) { %>
                                        ₹<%= orders[i]?.discountedPrice %>
                                        <% }else{ %>
                                            ₹<%= orders[i]?.grandTotalCost %>
                                            <% } %>

                                </td>

                                <td> <a href="/admin/singleOrder/<%= orders[i]._id %>" ><button class="table-cell-pending">View</button></a></td>
                            </tr>
                            <% } %>
                        </tbody>
                      </table>
                      
                    </div>
                  </div>
                </div>
              </div>
          </div>





          <!------- pagination ----->
          <nav aria-label="pagination">
            <ul class="pagination justify-content-center">
              <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                <a href="?page=<%= currentPage - 1 %>" class="page-link" aria-label="Previous" style="background-color: black;">
                  <span aria-hidden="true" style="color: white;">&laquo;</span></a>
              </li>

              <% for(let i=1; i<=totalPages; i++) { %>
              <li class="page-item <%= currentPage === i ? 'active' : '' %> ">
                <a href="?page=<%= i%>" 
                  class="page-link <%= currentPage === i ? 'bg-dark text-white' : 'text-dark' %>" >
                  <%= i %>
                </a>
              </li>
            <% } %>

            <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
              <a href="?page=<%= currentPage + 1 %>" class="page-link" aria-label="Next"
                  style="background-color: black;">
                  <span aria-hidden="true" style="color: white;">&raquo;</span>
              </a>
          </li>
              
            </ul>
          </nav>

          </div>


  
        
       
  


      
<!----- foooter from partials ---->
      <%- include("../adminPartials/footer") %>

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>

