<%- include('../adminPartials/header') %>

<style>

</style>

<body>



    <div class="container mt-4">
      
        <div class="row">
            <div class="col">

              <div class="row mt-3">
                <div class="col">
                  <div class="table-responsive">
                    <table class="table table-hover text-center align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Product Image</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let i = 0; i < topProducts.length; i++) { %>
                                <% for (let j = 0; j < productData.length; j++) { %>
                                    <% if (topProducts[i].productName === productData[j].productName) { %>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img src="/assets/uploadimages/uploads/<%= productData[j].productImage[0] %>" alt="<%= productData[j].productName %>" style="max-width: 70px; max-height: 70px;">
                                                </div>
                                            </td>
                                            <td><%= topProducts[i].productName %></td>
                                            <td><%= topProducts[i].count %></td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
              
              

            </div>
        </div>

        

     <!------- pagination ----->
<nav aria-label="pagination">
    <ul class="pagination justify-content-center">
        <% if (currentPage > 1) { %>
        <li class="page-item">
            <a href="?page=<%= currentPage - 1 %>" class="page-link" aria-label="Previous"
                style="background-color: black; color: white;"><span aria-hidden="true">&laquo;</span></a>
        </li>
        <% } %>
        <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
            <a href="?page=<%= i %>"
                class="page-link <%= currentPage === i ? 'bg-dark text-white' : 'text-dark' %>">
                <%= i %>
            </a>
        </li>
        <% } %>
        <% if (currentPage < totalPages) { %>
        <li class="page-item">
            <a href="?page=<%= currentPage + 1 %>" class="page-link" aria-label="Next"
                style="background-color: black; color: white;"><span aria-hidden="true">&raquo;</span></a>
        </li>
        <% } %>
    </ul>
</nav>


        
    </div>
    
    <%- include('../adminPartials/footer') %>
</body>